{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "quotes": [
      "warn",
      "single",
      "avoid-escape"
    ],
    "sort-imports": ["warn"]
  }
}
